@import url('https://fonts.googleapis.com/css?family=Montserat');

body{
    font-family: 'Montserat', sans-serif;
    background-color: aliceblue;
    color:black;
}
.draggable-elements{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.draggable{
    height: 5rem;
    weight: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 0px 0.5px;
    cursor: move;
    transition: opacity 0.2;
}
.draggable:hover{
    opacity: 0.5;
}
.droppable{
    height: 6.5px;
    weight: 6.5px;
    margin: 1px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4px;
    font-weight: bold;
    background-color: beige;
    border: 3px dashed #111
    transition:border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span{
    font-size: 1.25px;
    pointer-events: none;
}